<a href="https://colab.research.google.com/github/LuccasPer/digital_innovation_one/blob/master/Revis%C3%A3o_Ci%C3%AAncia_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***
# <font color=green size=8>REVISÃO CIÊNCIA DE DADOS - Prof. Fabio Henrique Pereira</font>
***

## Trabalho de Análise Descritiva de um Conjunto de Dados

Vamos rever como realizar uma análise descritiva básica de um conjunto de dados retirados da Pesquisa Nacional por Amostra de Domicílios - 2015 do IBGE. 

Vamos construir histogramas, calcular e avaliar medidas de tendência central, medidas separatrizes e de dispersão dos dados.

Siga o roteiro proposto e vá completando as células vazias. Procure pensar em mais informações interessantes que podem ser exploradas em nosso dataset.

## <font color=green>DATASET DO PROJETO</font>
***

### Pesquisa Nacional por Amostra de Domicílios - 2015

A <b>Pesquisa Nacional por Amostra de Domicílios - PNAD</b> investiga anualmente, de forma permanente, características gerais da população, de educação, trabalho, rendimento e habitação e outras, com periodicidade variável, de acordo com as necessidades de informação para o país, como as características sobre migração, fecundidade, nupcialidade, saúde, segurança alimentar, entre outros temas. O levantamento dessas estatísticas constitui, ao longo dos 49 anos de realização da pesquisa, um importante instrumento para formulação, validação e avaliação de políticas orientadas para o desenvolvimento socioeconômico e a melhoria das condições de vida no Brasil.

### Fonte dos Dados

https://ww2.ibge.gov.br/home/estatistica/populacao/trabalhoerendimento/pnad2015/microdados.shtm

## <font color=green>SEU TRABALHO COMEÇA AQUI!</font>
***

### <font color='blue'> Parte 1: importanto e visualizando os dados de um arquivo </font>

#### Utilize a célula abaixo para importar as biblioteca que precisar para executar as tarefas
##### <font color='red'>Sugestões: pandas, numpy</font>

In [35]:
import pandas as pd #Importando a bibliotca

#### Importe o dataset e armazene o conteúdo em uma DataFrame

In [36]:
data = pd.read_csv("dados.csv", sep = ',') #Colocando o arquivo no notebook

#### Visualize o conteúdo do DataFrame

In [37]:
data.head(10) #Mostra os 10 primeiro da lista 0 é o primeiro

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631
5  11     1     34    8              12    790  1.637906
6  11     0     57    8              12   3150  1.570078
7  11     1     60    8              12   1700  1.608495
8  11     1     50    4              14   1800  1.780329
9  11     0     26    8              12   1150  1.793203

*** 
### <font color='blue'> Parte 2: obtenha informações gerais sobre o dataset 
</font>

#### Verifique quais são os tipos de dados armazenados

In [40]:
data.dtypes #Mostra os dados do arquivo

UF                  int64
Sexo                int64
Idade               int64
Cor                 int64
Anos de Estudo      int64
Renda               int64
Altura            float64
dtype: object

### Crie um DataFrame para armazenar os tipos de dados, renomeando as colunas adequadamente

In [47]:
dados_tipo = pd.DataFrame(data.dtypes, columns = ['Tipos de Dados']) #muda o nome da segunda coluna
dados_tipo.columns.name = 'Variaveis' # Muda o nome na primeira coluna
dados_tipo #Mostras a tabela

Variaveis      Tipos de Dados
UF                      int64
Sexo                    int64
Idade                   int64
Cor                     int64
Anos de Estudo          int64
Renda                   int64
Altura                float64

#### Visualize o conteúdo desse novo DataFrame

In [48]:
dados_tipo #mostra a tabela

Variaveis      Tipos de Dados
UF                      int64
Sexo                    int64
Idade                   int64
Cor                     int64
Anos de Estudo          int64
Renda                   int64
Altura                float64

#### Obtenha e exiba na tela o número de linhas (registros) e colunas (atributos) do DataFrame

In [49]:
data.shape #Mostras as linhas e os dados

(76840, 7)

***
### <font color='blue'> Parte 3: visualização dos dados por um atributo (unidade da federação) </font>

#### Crie uma variável que armazene apenas o atributo UF

In [50]:
dados_uf = data['UF'] #Variavel somente para UF da lista
dados_uf

0        11
1        11
2        11
3        11
4        11
         ..
76835    53
76836    53
76837    53
76838    53
76839    53
Name: UF, Length: 76840, dtype: int64

#### Elimine as entradas duplicadas na variável criada

In [53]:
dados_uf = data['UF'].drop_duplicates() #Apaga as que eram repetidas

#### Converta a variável em um DataFrame

In [54]:
df_dados_uf = pd.DataFrame(dados_uf)
df_dados_uf

       UF
0      11
1537   12
2474   13
4680   14
5220   15
9669   16
10181  17
11487  21
13274  22
14485  23
17844  24
18817  25
20091  26
23911  27
24814  28
26101  29
31818  31
39504  32
41015  33
46571  35
55115  41
59471  42
61746  43
68068  50
69508  51
71308  52
74786  53

#### Acerte a numeração dos índices no DataFrame e renomeie a respectiva coluna

In [58]:
df_dados_uf.index = range(df_dados_uf.shape[0])
df_dados_uf.columns.name = 'ID'
df_dados_uf

ID  UF
0   11
1   12
2   13
3   14
4   15
5   16
6   17
7   21
8   22
9   23
10  24
11  25
12  26
13  27
14  28
15  29
16  31
17  32
18  33
19  35
20  41
21  42
22  43
23  50
24  51
25  52
26  53

***
### <font color='blue'> Parte 4: Filtragem dos dados por um atributo (unidade da federação) </font>

#### Crie um novo DataFrame apenas com os dados dos estados na região sudeste do Brasil
##### Utilize a seguinte codificação adotada no dataset original:
|Código|Descrição|
|---|---|
|11|Rondônia|
|12|Acre|
|13|Amazonas|
|14|Roraima|
|15|Pará|
|16|Amapá|
|17|Tocantins|
|21|Maranhão|
|22|Piauí|
|23|Ceará|
|24|Rio Grande do Norte|
|25|Paraíba|
|26|Pernambuco|
|27|Alagoas|
|28|Sergipe|
|29|Bahia|
|31|Minas Gerais|
|32|Espírito Santo|
|33|Rio de Janeiro|
|35|São Paulo|
|41|Paraná|
|42|Santa Catarina|
|43|Rio Grande do Sul|
|50|Mato Grosso do Sul|
|51|Mato Grosso|
|52|Goiás|
|53|Distrito Federal|

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76840 entries, 0 to 76839
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   UF              76840 non-null  int64
 1   Sexo            76840 non-null  int64
 2   Idade           76840 non-null  int64
 3   Cor             76840 non-null  int64
 4   Anos de Estudo  76840 non-null  int64
 5   Renda           76840 non-null  int64
 6   Altura          76840 non-null  float64
dtypes: float64(1), int64(6)
memory usage: 4.1 MB

In [61]:
sudeste = [31,32,33,35]
selecao = data['UF'].isin(sudeste)
#Novo DataFrame 
df_sudeste = data[selecao]
df_sudeste

       UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
31818  31     0     40    2              12   1600  1.615956
31819  31     0     58    8               5    850  1.575406
31820  31     0     36    8               3   1400  1.748594
31821  31     0     21    8              11   1500  1.658259
31822  31     0     28    2               9   1600  1.624518
...    ..   ...    ...  ...             ...    ...       ...
55110  35     0     52    8              12   1500  1.817112
55111  35     0     30    8              12   1500  1.483831
55112  35     0     43    8               5   1100  1.720618
55113  35     1     51    8              16   1600  1.748230
55114  35     0     59    8              12   1600  1.721828

[23297 rows x 7 columns]

#### Determine o número de registros dos estados do sudeste

In [62]:
df_sudeste.shape

(23297, 7)

#### Determine o número de registros de outros estados

In [63]:
data.shape[0] - df_sudeste.shape[0]

53543

#### Salve em arquivo os dados da região sudeste

In [64]:
df_sudeste.to_csv('data_sudeste.csv')

***
### <font color='blue'> Parte 5: Seleções e frequências </font>

#### Determine o número de pessoas em cada uma das categorias a seguir:

###### Cariocas com mais de 35 anos

##### Paulistas com mais de 30 anos e renda acima de R$2500,00

##### Mineiros com mais de 20 anos e altura entre 1,63m e 1,75m

##### Mineiros com idade entre 23 e 45 anos

##### Paulistas com mais de 10 anos de estudo

***
### <font color='blue'> Parte 6: Criando agrupamentos </font>

##### Crie um agrupamento dos dados da região sudeste pela UF: 'grupo_UF'

##### Exiba e renda média em cada um dos estados da região sudeste

##### Crie uma tabela com idade média e renda média para cada um dos estados da região sudeste

***
### <font color='blue'> Parte 7: Estatística descritiva </font>

##### Calcure as estatísticas descritivas para a renda dos estados da região sudeste

##### Calcure as estatísticas descritivas para a renda de todos os estados

##### Construa um boxplot para a variável 'Renda' nos estados da região sudeste

##### Construa um boxplot para a variável 'Idade' nos estados da região sudeste

##### Construa um boxplot para a variável 'Anos de Estudo' nos estados da região sudeste

##### Construa um boxplot para a variável 'Altura' nos estados da região sudeste